<div class="container-app">

  <h1 [innerHTML]="title" class="container-title mat-display-1"></h1>

  <div class="container-selector">
    <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
      <mat-select (selectionChange)="updateData('startDate')" [(value)]="selected.startDate" name="startDate">
        <mat-option [value]="date.code" *ngFor="let date of dates">
          {{date.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <mat-select (selectionChange)="updateData('endDate')" [(value)]="selected.endDate" name="endDate">
        <mat-option [value]="date.code" *ngFor="let date of dates">
          {{date.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="separator" *ngIf="showSeparator"></div>

    <mat-form-field appearance="outline">
      <mat-label>Metric</mat-label>
      <mat-select (selectionChange)="updateData('metric')" [(value)]="selected.metric" name="metric">
        <mat-option [value]="metric.key" selected *ngFor="let metric of metrics">
          {{metric.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <mat-select (selectionChange)="updateData('location')" [(value)]="selected.location" name="location">
        <mat-option [value]="location.key" *ngFor="let location of locations">
          {{location.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="chartData" class="container-chart smooth">
    <canvas id="canvasChart">{{chartData}}</canvas>
  </div>

</div>
